* {
  box-sizing: border-box;
}

$color_white:white;
$color_aqua:#38aef0;
$color_333:#333;

.wrapper {
  height: 100vh;
  width: 100vw;
  .side-bar {
    width: 300px;
    float: left;
    .header {
      height: 100px;
      background-color: #253141;
      display: flex;
      align-items: center;
      &-box {
        height: 20px;
        width: 260px;
        margin: 0 20px;
        background-color: $color_333;
        display: flex;
        justify-content: space-between;
        &__user-name {
          height: 20px;
          width: calc(260px - 60px);
          font-size: 16px;
          color: $color_white;
          font-weight: bold;
          line-height: 20px;
        }
        &__menu {
          height: 20px;
          width: 60px;
          display: flex;
          justify-content: flex-end;
          .far {
            color: $color_white;
            text-decoration: none;
            margin: 0 5px 0 0;
          }
          .fas {
            color: $color_white;
            text-decoration: none;
          }
        }
      }
    }
    .groups {
      height: calc(100vh - 100px);
      background-color: #2f3e51;
      padding: 20px 20px 0;
      overflow: scroll;
      .group {
        height: 85px;
        width: 260px;
        &__name {
          font-size: 15px;
          color: $color_white;
          text-decoration: none;
          height: 23px;
          padding: 0 0 5px;
        }
        &__message {
          font-size: 11px;
          color: $color_white;
          text-decoration: none;
          height: 17px;
          padding: 0 0 40px;
        }
      }      
    }
  }  
  
  .main {
    width: calc(100vw - 300px);
    float: left;
    &-header {
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      background-color: $color_white;
      border-bottom: solid 1px #eeeeee;
      .left-box {
        padding-top: 35px;
        .group-name {
          font-size: 20px;
          color: $color_333;
          margin: 0 0 15px;
          box-sizing: border-box;
        }
        .member-list {
          color: #999999;
          font-size: 12px;
          display: flex;
          list-style: none;
          &__name {
            margin-left: 5px;
          }
        }
      }
      .right-box {
        .edit-btn {
          display: inline-block;
          text-decoration: none;
          color: $color_aqua;
          height: 40px;
          width: 72px;
          line-height: 40px;
          padding: 0 20px 32px;
          margin-top: 28px;
          border: solid 1px $color_aqua;
        }
      }
    }
    
    .messages {
      height: calc(100vh - 100px - 90px);
      padding: 35px 40px;
      background-color: #fafafa;
      overflow: scroll;
      
      .message {
        
        .upper-message  {
          display: flex;
          &__user-name {
            font-size: 16px;
            color: $color_333;
            padding-bottom: 12px;
          }
          &__date {
            font-size: 12px;
            color: #999;
            margin-left: 10px;
          }
        }
        .lower-message {
          &__content {
            font-size: 14px;
            color: #434a54;
            padding-bottom: 46px;
          }
        } 
      }
    }
    
    .form {
      background-color: #ddd;
      box-sizing: border-box;
      height: 90px;
      padding: 20px 40px;
      &__message {
        float: left;
        border: none;
        height: 50px;
        width: calc(100% - 150px);
        color: #434a54;
        padding: 0 0 0 10px;
      }
      &__choice {
        background-color: $color_white;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 1.3rem;
          line-height: 50px;
          cursor: pointer;
        }
        .choice {
          display: none;
        }
      }
      &__submit {
        background-color: $color_aqua;
        float: right;
        height: 50px;
        width: 100px;
        color: $color_white;
        font-size: 16px;
        margin-left: 15px;
        padding: 0 30px;
        cursor: pointer;
      }  
    }   
  }
}
    